.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card {
  height: fit-content;
  width: 400px;
}
.card-product > img {
  height: 300px ;
  width: 100% ;
  object-fit:cover;
}

.card-back{
  display:flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  height: 100%;
  width: 350px;
  margin: 5px;
  padding: 0;
  .card-back-body{
    padding: 20px;
  }
}



.card-img {
  height: 350px ;
  width: 100% ;
  object-fit:cover;
}


.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-remove-link {
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.8;
  font-weight: lighter;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-action {
  position: absolute;
  color: rgba(173, 173, 173, 0.8);

  &:hover {
    color: rgba(173, 173, 173, 1);
  }
}

.card-destroy {
  top: 8px;
  right: 8px;
}

.card-edit {
  bottom: 8px;
  right: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
